PORT=8080
ENVIRONMENT=development

PGHOST=localhost
PGPORT=5433
PGDATABASE=sra_db
PGUSER=postgres
PGPASSWORD=CHANGE_THIS

JWT_SECRET=GENERATE_64_CHAR_RANDOM_STRING
JWT_ISSUER=sra-platform
JWT_AUDIENCE=sra-users
JWT_EXPIRY_DAYS=30

ALCHEMY_API_KEY=YOUR_KEY_HERE
BINANCE_API_URL=https://api.binance.com/api/v3/ticker/price
USGS_API_URL=https://earthquake.usgs.gov/fdsnws/event/1/query